<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Flexbox</title>
</head>
<body>
    <h4>Mensejajarkan dengan float dan clear</h4>
    <div class="container">
        <div class="satu">1</div>
        <div class="dua">2</div>
        <div class="tiga">3</div>
        <div class="empat">4</div>
    </div>

    <h4>Mensejajarkan dengan Flexbox</h4>
    <div class="conflex">
        <div class="satu">1</div>
        <div class="dua">2</div>
        <div class="tiga">3</div>
        <div class="empat">4</div>
    </div>

    <h4>Flexwrap : membuat element turun ketika container overload</h4>
    <div class="conflexwrap">
        <div class="satu">1</div>
        <div class="dua">2</div>
        <div class="tiga">3</div>
        <div class="empat">4</div>
    </div>
    <br>
    <br>
    <br>

    <h4>Justify-Content</h4>
    <img src="img/dua.png" alt="">
    <p>jenis</p>
    <img src="img/satu.png" alt="">

    <h4>align-item</h4>
    <img src="img/align_item.png" alt="">

    <h3>Align item</h3>
    <img src="img/" alt="">

    <h3>align-content</h3>
    <img src="img/align-content.png" alt="">
</body>
</html>