.flextStart {
    width: 500px;
    height: 150px;
    border: 3px solid black;
    display: flex;
    justify-content: flex-start;
    margin: 50px auto;
}

.flextStart div {
    height: 100px;
    width: 100px;
    background-color: salmon;
    margin: 5px;
}

.flextEnd {
    width: 500px;
    height: 150px;
    border: 3px solid black;
    margin: 50px auto;
    display: flex;
    justify-content: flex-end;
}

.flextEnd div {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 5px;
}

.center {
    width: 500px;
    height: 150px;
    border: 3px solid black;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.center div {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 5px;
}

.spacebetween {
    width: 500px;
    height: 150px;
    border: 3px solid black;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.spacebetween div {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    margin: 5px;
}

.spacearound {
    width: 500px;
    height: 150px;
    border: 3px solid black;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.spacearound div {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    margin: 5px;
}

.spaceevenly {
    width: 500px;
    height: 150px;
    border: 3px solid black;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
}

.spaceevenly div {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 5px;
}