.container {
    width: 500px;
    height: 150px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.satu {
    order: 2;
}
.dua {
    order: 1;
}
.tiga {
    order: 4;
}
.empat {
    order: 3;
}