.container {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container div {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    flex: 1;
}

.container div.satu {
    flex: 2;
    align-self: flex-start;
}
.container div.dua {
    flex: 4;
    align-self: flex-end;
}

.container div.tiga {
    flex: 3;
    align-self: center;
}
